<div class="main-page">
  <div class="left-col">
    <h1 class="brand">Budgetify</h1>

    <div class="card" [class.inactive]="activeCard !== 'debit'" (click)="toggleCard('debit')">
      <div class="card-content">
        <div class="card-header">
          <span class="card-title">Debit card</span>
          <div class="icon-circle">$</div>
        </div>
        <div class="card-balance">5,356.17</div>
      </div>
    </div>

    <div class="card" [class.inactive]="activeCard !== 'credit'" (click)="toggleCard('credit')">
      <div class="card-content">
        <div class="card-header">
          <span class="card-title">Credit card</span>
          <div class="icon-circle">€</div>
        </div>
        <div class="card-balance">5,356.17</div>
      </div>
    </div>
  </div>
  <div class="center-col">
    <div class="transactions-header">
      <h3>Categories Subscriptions Obligatory Statistic Admin</h3> <!--Only a placeholder!!!!!!!!!-->
      <div class="search-wrapper">
        <span class="search-icon">🔍</span>
        <input
          type="text"
          placeholder="search"
          [(ngModel)]="searchTerm"
          class="search-bar"
        />
      </div>
    </div>

    <div class="transactions-list">
      <app-transaction-card
        *ngFor="let t of filteredTransactions()"
        [category]="t.category"
        [title]="t.description"
        [amount]="t.amount"
        [username]="t.user"
        [date]="t.date"
      ></app-transaction-card>
    </div>
  </div>


  <div class="right-col">
    <div class="profile">
      <img src="assets/images/user.png" alt="avatar" class="avatar" />
      <span class="username">{{username}}</span>
    </div>
  </div>
</div>
