<div class="login-page">
  <div class="login-card">
    <div class="brand">Budgetify</div>
    <form class="form" autocomplete="on" [formGroup]="loginForm">
      <input
        formControlName="email"
        id="email1"
        class="input"
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email"
        required
      />
      <div class="password-wrapper">
        <input
          formControlName="password"
          id="password"
          class="input password-input"
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          required
        />
        <button
          class="toggle-password"
          type="button"
          (click)="togglePassword()"
          aria-label="Показать/скрыть пароль"
        >
          <img
            src="assets/images/eye.png"
            alt="passwordshow"
            class="icon-eye"
            height="300"
            width="300"
          />
        </button>
      </div>
      <button class="btn" type="button" (click)="onSubmit()">login</button>
      @if (message) {
        <div class="error">
          <p class="error-text">{{message}}</p>
        </div>
      }
    </form>
  </div>
</div>
