<div class="login-page">
  <div class="login-card">
    <div class="brand">Budgetify</div>
    <form class="form" autocomplete="on">
      <input
        id="email1"
        class="input"
        type="email"
        name="email"
        placeholder="Email"
        aria-label="Email"
        required
      />

      @if (autent()){
        <div class="error">
          <p class="error-text">{{autent()}}</p>
        </div>
      }

      <div class="password-wrapper">
        <input
          id="password"
          class="input password-input"
          type="password"
          name="password"
          placeholder="Password"
          aria-label="Password"
          required
        />
        <button
          class="toggle-password"
          type="button"
          (click)="togglePassword()"
          aria-label="Показать/скрыть пароль"
        >
          <img src="assets/images/eye.png" alt="passwordshow" class="icon-eye" height="300" width="300"/>
        </button>
      </div>
      <button class="btn" type="button" (click)="autent()">login</button>
    </form>
  </div>
</div>


